<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">Dashboard</a></li>
        <li><a href="/addkbdocs/" class="nav-link px-2 link-dark">Add KB Docs</a></li>
        <li><a href="/viewkbdocs/" class="nav-link px-2 link-dark">View KB Docs</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary sign-out-btn">Sign Out</button>
    </div>
</header>